.profile-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: #f2f3f7;
  width: 99%;
  text-align: center; /* Centraliza o texto dentro do h1 */
  margin-top: 5px;
  margin-bottom: 20px; /* Espaço abaixo do h1 */
}
.profile-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os campos no container */
  gap: 20px; /* Espaço entre os campos */
  max-width: 1000px; /* Limita a largura total das colunas */
  padding-top: 60px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 45%; /* Para que os campos fiquem em dupla */
}

.field-label {
  font-weight: bold;
  margin-bottom: 5px;
  background-color: #f2f3f7;
}

.field-value {
  font-size: 16px;
}

button {
  margin-top: 20px;
  align-self: center; /* Centraliza o botão */
  grid-column: span 2; /* Faz o botão de submit ocupar a largura total */
  border-radius: 10px;
}
/* Agrupamento de CPF, RG e Órgão Emissor */
.cpf-rg-emissor-group {
  display: flex;
  gap: 20px; /* Espaço entre cada campo */
  width: 92%;
}
