mat-toolbar {
  background: #3879da;
}
.custom-toolbar {
  display: flex;
  align-items: center;
  height: 80px; /* Altura padrão da toolbar */
  position: relative;
}

.toolbar-image {
  height: 60px; /* Ajuste o tamanho da imagem conforme necessário */
  margin-right: 60px; /* Espaçamento entre a imagem e o texto */
}

.toolbar-title {
  font-family: "Architects Daughter", cursive; /* Fonte personalizada */
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 100px; /* Ajuste para alinhar com a imagem */
  color: #ffffff; /* Cor do texto (pode ser ajustada conforme necessário) */
}
