<main class="update-group">
  <h1>Alterar meus dados</h1>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Loader enquanto carrega os dados -->
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
    <!-- Spinner de carregamento do Angular Material -->
  </div>

  <form
    *ngIf="!isLoading"
    [formGroup]="updateForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <!-- Campos do formulário -->
    <div class="update-form">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Insira seu nome" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Insira seu e-mail"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>CPF</mat-label>
        <input
          matInput
          formControlName="cpf"
          placeholder="Insira seu CPF"
          mask="000.000.000-00"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>RG</mat-label>
        <input
          matInput
          formControlName="rg"
          placeholder="Insira seu RG"
          mask="00.000.000-0"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Órgão Emissor</mat-label>
        <input
          matInput
          formControlName="issuing_agency"
          placeholder="Insira o órgão emissor"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Código Postal</mat-label>
        <input
          matInput
          formControlName="postal_code"
          placeholder="Insira o código postal"
          mask="00000-000"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="street" placeholder="Insira a rua" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Número da Casa</mat-label>
        <input
          matInput
          formControlName="house_number"
          placeholder="Insira o número da casa"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Complemento</mat-label>
        <input
          matInput
          formControlName="complement"
          placeholder="Insira o complemento"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input
          matInput
          formControlName="neighborhood"
          placeholder="Insira o bairro"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="city" placeholder="Insira a cidade" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">{{
            state
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Botão de submit com loader -->
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading || updateForm.invalid"
      >
        <ng-container *ngIf="isLoading">Salvando...</ng-container>
        <ng-container *ngIf="!isLoading">Salvar</ng-container>
      </button>
    </div>
  </form>
</main>
