.update-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form {
  display: grid;
  grid-template-columns: 2fr 2fr; /* Duas colunas com o mesmo tamanho */
  gap: 8px; /* Espaço de 8px entre os campos */
  width: 100%;
  max-width: 1000px; /* Limite de largura do formulário */
  min-width: 900px;
}

.form-field {
  width: 100%;
  height: 80px;
}

button[type="submit"] {
  grid-column: span 2; /* Faz o botão de submit ocupar a largura total */
  justify-self: center; /* Alinha o botão à direita */
  border-radius: 10px;
}
