<div class="solicitacao-container">
  <div class="header-section">
    <h1>Minhas Solicitações</h1>

    <!-- Botão para solicitar nova declaração -->
    <button
      mat-raised-button
      color="primary"
      [disabled]="isRequestInProgress"
      (click)="openRequestDialog()"
    >
      Solicitar Declaração
    </button>
  </div>

  <!-- Exibição de mensagem quando o botão estiver desabilitado -->
  <p *ngIf="isRequestInProgress" class="error-message">
    Você só pode solicitar uma nova declaração quando a solicitação anterior for
    concluída ou rejeitada.
  </p>

  <!-- Tabela para listagem de solicitações -->
  <mat-table [dataSource]="requests" class="mat-elevation-z8">
    <!-- ID da Solicitação -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let request"> {{ request.id }} </mat-cell>
    </ng-container>

    <!-- Data da Solicitação -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let request">
        {{ request.date | date : "dd/MM/yyyy" }}
      </mat-cell>
    </ng-container>

    <!-- Status da Solicitação -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let request"> {{ request.status }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
