<main class="request-container">
  <h1>Declarações Geradas - Últimos 7 Dias</h1>

  @if (!dataSource.length) {
  <p class="description">
    Não foi gerado nenhuma declaração nos últimos 7 dias.
  </p>
  } @else {
  <p class="description">
    Visualize as declarações geradas nos últimos 7 dias. Faça o download
    conforme necessário.
  </p>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Solicitante</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="generationDate">
      <th mat-header-cell *matHeaderCellDef>Data de emissão</th>
      <td mat-cell *matCellDef="let element">
        {{ element.generationDate | date : "dd/MM/yyyy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status | status }}</td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Declaração</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.url" target="_blank" rel="noopener noreferrer">
          Visualizar declaração
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  }
</main>
