<main class="request-container">
  <h1>Declaração de endereço</h1>
  <p class="description">
    Declarações solicitadas pelo(s) cliente(s) através do sistema.
  </p>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Solicitante</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef>Data solicitação</th>
      <td mat-cell *matCellDef="let element">
        {{ element.requestDate | date : "dd/MM/yyyy hh:mm" : "UTC" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status | status }}</td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Seleção</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>

  <div class="button-group">
    <button
      mat-flat-button
      color="primary"
      (click)="openGenerateDeclarationConfirmDialog()"
      [disabled]="!selection.selected.length"
    >
      Gerar declarações
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="openFinalizeDeclarationConfirmDialog()"
      [disabled]="!selection.selected.length"
    >
      Finalizar solicitação
    </button>
  </div>
</main>
