.register-group {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  .register-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form-field {
      min-width: 300px;
      max-width: 700px;
      margin-right: 20px;
      margin-bottom: 12px;
      flex: 1 1 45%;
    }
  }

  .button-flat {
    min-width: 150px;
    margin: 24px auto;
  }
  .password-toggle-button{
    position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 8px;
  }

  .error-message {
    color: var(--sys-error);
    background-color: var(--sys-error-container);
    border: 1px solid var(--sys-error);
    border-radius: 8px;
    padding: 12px;
    max-width: 420px;
    margin: 0 auto 24px;
  }

  .pos-link {
    display: block;

    a {
      display: flex;
      color: var(--sys-primary);
    }
  }
}
