.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 0px;
}

mat-nav-list {
  padding: 0;
  border-radius: 0px;
}

mat-expansion-panel {
  background-color: #f0f0f0;
  border-radius: 0px;
}

mat-list-item a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
  color: black;
}

mat-list-item a:hover {
  background-color: #f0f0f0;
  text-decoration: underline;
}
