<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngIf="isAdmin; else clientOrders">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <a mat-line [routerLink]="['/requests']">Solicitações</a>
      </mat-list-item>

      <ng-template #clientOrders>
        <mat-list-item>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <a mat-line [routerLink]="['/my-orders']">Meus pedidos</a>
        </mat-list-item>
      </ng-template>

      <mat-expansion-panel [expanded]="currentOpenItem === 'declaracoes'" (opened)="toggleMenu('declaracoes')"
        (closed)="toggleMenu(null)">
        <mat-expansion-panel-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_document"></mat-icon>
          <mat-panel-title>Declarações</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <a mat-line [routerLink]="['/address']">Endereço</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isAdmin" [expanded]="currentOpenItem === 'administracao'"
        (opened)="toggleMenu('administracao')" (closed)="toggleMenu(null)">
        <mat-expansion-panel-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
          <mat-panel-title>Administração</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <a mat-line [routerLink]="['/clients']">Clientes</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-line [routerLink]="['/declarations']">Criar Declaração</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-line [routerLink]="['/users']">Usuários</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
        <a mat-line (click)="logout()">Sair</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
