<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-expansion-panel
        *ngIf="isAdmin"
        [expanded]="currentOpenItem === 'requests'"
        (opened)="toggleMenu('requests')"
        (closed)="toggleMenu(null)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon
              aria-hidden="true"
              aria-label=""
              fontIcon="description"
              class="icon"
            ></mat-icon
            >Solicitações</mat-panel-title
          >
        </mat-expansion-panel-header>
        <mat-list-item>
          <a mat-line [routerLink]="['/requests']">Gestão</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-line [routerLink]="['/requests/summary']"
            >Declarações geradas</a
          >
        </mat-list-item>
      </mat-expansion-panel>

      @if (!isAdmin) {
      <mat-list-item>
        <div class="align-item">
          <mat-icon
            aria-hidden="true"
            aria-label=""
            fontIcon="list"
            class="icon"
          ></mat-icon>
          <a mat-line [routerLink]="['/my-orders']">Meus pedidos</a>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="align-item">
          <mat-icon
            aria-hidden="true"
            aria-label=""
            fontIcon="manage_accounts"
            class="icon"
          ></mat-icon>
          <a mat-line [routerLink]="['/profile']">Meu perfil</a>
        </div>
      </mat-list-item>
      }

      <!-- <mat-expansion-panel [expanded]="currentOpenItem === 'declaracoes'" (opened)="toggleMenu('declaracoes')"
        (closed)="toggleMenu(null)">
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_document"
              class="icon"></mat-icon>Declarações</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <a mat-line [routerLink]="['/address']">Endereço</a>
        </mat-list-item>
      </mat-expansion-panel> -->

      <!-- <mat-expansion-panel
        *ngIf="isAdmin"
        [expanded]="currentOpenItem === 'administracao'"
        (opened)="toggleMenu('administracao')"
        (closed)="toggleMenu(null)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="settings"
              class="icon"
            ></mat-icon
            >Administração</mat-panel-title
          >
        </mat-expansion-panel-header>
        <mat-list-item>
          <a mat-line [routerLink]="['/clients']">Clientes</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-line [routerLink]="['/declarations']">Criar Declaração</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-line [routerLink]="['/users']">Usuários</a>
        </mat-list-item>
      </mat-expansion-panel> -->

      <mat-list-item>
        <div class="align-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="logout"
            class="icon"
          ></mat-icon>
          <a mat-line (click)="logout()">Sair</a>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
