.my-orders-container {
  padding: 20px 40px;

  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .description {
    font-size: 16px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 12px;
  }

  table {
    background-color: #fff;
  }

  th {
    border: none;
    background-color: #f7f7f7;
  }

  td {
    border-color: var(--sys-surface-container);
  }

  button {
    border-radius: 10px;
    min-width: 120px;
    margin-left: 12px;
    margin-top: 12px;
  }

  .button-align {
    text-align: center;
  }

  .divider {
    margin: 24px 0;
    border-color: var(--sys-outline-variant);
  }
}
