.title {
  text-align: center;
}

.action-group {
  margin-top: 32px;

  button {
    border-radius: 10px;
    min-width: 120px;
    margin-left: 12px;
  }
}

.request-list {
  margin: 24px;

  li {
    font-size: 16px;
    margin-bottom: 4px;
  }
}
