<main class="login-group">
  <h1>Acesso ao sistema</h1>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Insira seu e-mail"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Senha</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Insira sua senha"
        autocomplete="off"
      />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Entrar</button>
  </form>
  <p>Para lembrar sua senha, <a routerLink="/">clique aqui.</a></p>
  <p>Se você ainda não está cadastrado, <a routerLink="/">clique aqui.</a></p>
</main>
