<div id="login">
    <mat-card-title>Acessso ao sistema</mat-card-title>
    <form action="">
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Insira seu e-mail">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Insira sua senha">
        </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Entrar</button>
            <p>Para lembrar sua senha senha, <a href="#">clique aqui.</a></p>
            <p>Se você ainda não está cadastrado, <a href="#">clique aqui.</a></p>
    </form>
</div>
