
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './m3-theme' as customTheme;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes(customTheme.$light-theme);
  @include mat.system-level-colors(customTheme.$light-theme);
  @include mat.system-level-typography(customTheme.$light-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy(customTheme.$light-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility(customTheme.$light-theme);

.mat-typography h1 {
  font-size: 3rem;
}

.mat-typography h2 {
  font-size: 2rem;
}

.mat-typography h3 {
  font-size: 1.6rem;
}

.mat-typography h4 {
  font-size: 1.2rem;
}

.mat-typography p {
  font-size: 1rem;
}
