<app-header></app-header>
<div class="error-page-content">
  <img ngSrc="img/error-robot.svg" alt="" width="320" height="320" />

  <div>
    <h1 class="title">Página não encontrada</h1>
    <p>
      Procuramos essa página em todos os lugares. Tem certeza de que o URL do
      site está correto? Entre em contato com o proprietário do site.
    </p>
    <button mat-flat-button color="primary" routerLink="/">
      Voltar para a Página Inicial
    </button>
  </div>
</div>
<app-footer></app-footer>
